<svg
  width="280"
  height="518"
  viewBox="0 0 280 518"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  [ngClass]="{versionList}"
>
  <path
    d="M40 2L21 21L40 40H240L259 21L240 2H40Z"
    fill="white"
    stroke="black"
    stroke-width="4"
    id="digital1"
    [ngClass]="{ activeNumber: isActiveNumber(1) }"
  />
  <path
    d="M278 240L259 259L240 240L240 40L259 21L278 40L278 240Z"
    fill="white"
    stroke="black"
    stroke-width="4"
    id="digital3"
    [ngClass]="{ activeNumber: isActiveNumber(3) }"
  />
  <path
    d="M40 240L21 259L2 240L2 40L21 21L40 40L40 240Z"
    fill="white"
    stroke="black"
    stroke-width="4"
    id="digital2"
    [ngClass]="{ activeNumber: isActiveNumber(2) }"
  />
  <path
    d="M40 240L21 259L40 278H240L259 259L240 240H40Z"
    fill="white"
    stroke="black"
    stroke-width="4"
    id="digital4"
    [ngClass]="{ activeNumber: isActiveNumber(4) }"
  />
  <path
    d="M40 478L21 497L40 516H240L259 497L240 478H40Z"
    fill="white"
    stroke="black"
    stroke-width="4"
    id="digital7"
    [ngClass]="{ activeNumber: isActiveNumber(7) }"
  />
  <path
    d="M278 478L259 497L240 478L240 278L259 259L278 278L278 478Z"
    fill="white"
    stroke="black"
    stroke-width="4"
    id="digital6"
    [ngClass]="{ activeNumber: isActiveNumber(6) }"
  />
  <path
    d="M40 478L21 497L2 478L2 278L21 259L40 278L40 478Z"
    fill="white"
    stroke="black"
    stroke-width="4"
    id="digital5"
    [ngClass]="{ activeNumber: isActiveNumber(5) }"
  />
</svg>
