svg {
  width: 95px;
  height: auto;
}
.versionList {
  width: 55px;
}
@media (max-width: 1450px) {
  svg {
    width: 65px;

    margin: 4px;
  }

  .versionList {
    width: 50px;
  }
}
@media (max-width: 950px) {
  svg {
    width: 55px;

    margin: 4px;
  }

  .versionList {
    width: 40px;
  }
}
@media (max-width: 720px) {
  svg {
    width: 45px;

    margin: 4px;
  }

  .versionList {
    width: 39px;
  }
}
@media (max-width: 540px) {
  svg {
    width: 36px;

    margin: 4px;
  }

  .versionList {
    width: 34px;
  }
}

@media (max-width: 440px) {
  svg {
    width: 28px;

    margin: 4px;
  }

  .versionList {
    width: 24px;
  }
}
