.nopad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 0;
  outline: 0;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}
img {
  width: 170px;
  height: 100px;
}

.image-checkbox-checked {
  border-color: crimson;
  border: 4px solid crimson;
}
.image-checkbox .fa {
  position: absolute;
  color: #4a79a3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}
